header {
    position: sticky; /* Устанавливаем позиционирование элемента как "закрепленное" */
    top: 0; /* Размещаем элемент наверху */
    background-color: rgb(186, 186, 186, 1); /* Цвет фона шапки */
    padding: 10px 0; /* Добавляем немного отступов для лучшего визуального восприятия */
}

nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Добавляем отступы между элементами списка */
}

nav ul li a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

body {
    background-image: url('images/background.jpg');
    background-size: cover; /* чтобы изображение занимало всю область фона */
    background-repeat: no-repeat; /* чтобы изображение не повторялось */
    color: white; /* цвет шрифта*/
}

.product {
    display: flex; /* Используем flexbox для размещения элементов внутри блока */
    width: 45%; /* Ширина каждого блока товара, чтобы они занимали приблизительно половину ширины экрана */
    margin: 10px; /* Внешний отступ между блоками товаров */
    vertical-align: top; /* Выравнивание по верхнему краю */
    border: 1px solid #9f9f9f; /* Подчеркивание товарных блоков */
    padding: 10px; /* Внутренний отступ для красивого вида */
    color: rgb(255, 255, 255); /* цвет шрифта */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.product-details {
    flex: 1; /* Занимаем всю доступную ширину слева */
    padding-right: 20px; /* Добавляем отступ справа для разделения между содержимым и изображением */
}

.product-image {
    flex: 0 0 auto; /* Устанавливаем фиксированную ширину для блока с изображением */
    text-align: center;
}

.product-image img {
    width: 100%; /* Делаем изображение полностью заполняющим блок */
    max-width: 100%;
    height: auto; /* Автоматически подстраиваем высоту изображения */
    cursor: pointer; /* Изменяем курсор при наведении на изображение */
}

/* Стили для обычных ссылок */
a {
    color: white; /* Устанавливаем белый цвет текста для ссылок */
    /*text-decoration: none; /* Убираем подчеркивание */
}

/* Стили для ссылок при наведении на них курсора */
a:hover {
    color: #ffffff80; /* Устанавливаем полупрозрачный белый цвет текста при наведении на ссылку */
}

input[type="number"] {
    width: 40px; /* Устанавливаем ширину поля ввода количества */
    padding: 5px; /* Добавляем внутренний отступ для лучшего визуального восприятия */
}

/* Скрыть модальное окно по умолчанию */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
